[2013-11-04 01:45] garno opened #1 "Valider la création d'un nouveau post"
En ce moment, les champs ne sont pas obligatoires et _bla bla bla_. Il faut donc ajouter les validations et afficher correctement les erreurs.

Sur Hacker News, si un URL est spécifié, le Texte n'est pas pris en compte. Le Texte **ou** l'URL est nécessaire ainsi que le titre

[2013-11-04 01:48] garno opened #2 "Créer la vue d'un post"
Pas nécessaire d'ajouter les commentaires _threadés_ pour le moment, simplement afficher les informations du _post_.

[2013-11-04 22:18] remi opened #3 "Convertir les fichiers Haml en ERB"
On veut revenir à ERB chez Mirego, ça pourrait être bien de faire http://news.opencode.ca en ERB :smile:

[2013-11-04 22:20] EtienneLem commented on #3
:metal: +1

[2013-11-04 22:33] EtienneLem opened #4 "Le <title> et ses chameaux."
Faut s’entendre:
- Ocnews (en ce moment)
- OCNews
- OC News
- OpenCode News

Question qu’on puisse souligner l’erreur aux fautifs.

[2013-11-04 22:35] remi commented on #4
En fait, le nom du projet n’est même pas définitif. Mais effectivement ça prendrait un _working title_ constant. Je propose un nom de code générique sans avoir à se soucier de la case. Genre, **OCN**.

[2013-11-04 22:36] remi commented on #4
Et par le fait même, je renommerais le repository en `ocn`. C’est fatiguant le `news`, surtout si on veut bâtir une communauté 100% francophone :smile:

[2013-11-04 22:59] garno commented on #4
`ocn` it is. Pour le moment ;)

[2013-11-04 23:05] garno commented on #4
Pendant que nous y sommes, il serait intéressant de déterminer un nom pour le projet. Comme @remiprev l'a dit, nous voulons une communauté 100% francophone. Il est donc ironique d'utiliser news.opencode.ca même si c'est un peu la norme dans ce genre de communauté.

Avez-vous d'autres idées?

Ce que nous voulons est plus de créer des discussions et débats autour d'un sujet commun: le code. Et aussi

[2013-11-04 23:13] EtienneLem commented on #4
http://mur.opencode.ca

“Met ça sul mur”
“Check le mur”
“Lol, tu connais pas le mur?”

Ça fait pas mal FB… Quelque chose dans le même concept: etage, coin, abri, toit, tipi, caverne…

[2013-11-05 13:34] frederickdubois opened #5 "Pouvoir se créer un compte / se connecter via le login de GitHub"
pas de compte github, pas de login

[2013-11-05 13:35] remi commented on #5
C'est pas fait ça?

[2013-11-05 13:36] frederickdubois commented on #5
indeed, je viens de voir :)

je voulais juste pas oublié et j'avais pas vu dans la issues list mais vous êtes plus avancés que je pensais
closing :)

[2013-11-05 13:36] #5 closed, assigned to nobody

[2013-11-05 15:58] j15e commented on #3
+1 en tabarnouche

[2013-11-05 16:04] simonprev commented on #3
![1383667399-8396c10428acb12f615b2d73a80b767c](https://f.cloud.github.com/assets/464900/1474842/ea83f754-4633-11e3-819a-f0af939ba2f0.jpg)

[2013-11-05 16:29] L-A commented on #4
nouvelles.opencode.ca serait le plus simple/explicite, surtout que le but c'est de se rapprocher d'un concept HN mais qui vise la communauté francophone.

Sinon côté actualités, y'a toujours helicoptere-tva.opencode.ca.

[2013-11-05 19:23] jbourassa commented on #4
Je crois que ce que ce projet peut amener à la communauté assez différent d'un news feed, alors je crois que le terme _news / nouvelles_ est pas le meilleur. Quelque chose qui tourne autour du mot communauté serait plus intéressant.

Réflexion:

Communauté est long, alors on pourrait trouver quelque chose de mieux. Pas si fan, mais tout de même:
- mur de @EtienneLem, c'est pas mal
- groupe.opencod

[2013-11-05 19:23] jbourassa commented on #3
Oh, s'il vous plaît. Pas un grand fan de Haml ici.

[2013-11-05 22:06] j15e commented on #4
la taverne? c'est francophone et québecois et ça fait référence à de la bière. mais sinon je vote mur ou collectif

[2013-11-05 22:11] garno commented on #4
J'avais pensé à la _taverne_ et j'aimais bien. Par contre, si on pousse un peu, c'est aussi un endroit pour hommes donc peut être considéré sexiste :confused:. Je ne sais pas si la gente féminine serait offensée. Tsé, si on veut être _politically correct_ ;)

[2013-11-05 22:19] EtienneLem commented on #4
Ah ouin?

Ben oui toi… t’es vraiment vieux Sam pour savoir ça :older_man: :stuck_out_tongue_winking_eye: . Moi c’est pas du tout la première ce qui me vient en tête. Je sais pas si les gens font cette association?

[2013-11-05 22:47] j15e commented on #5
Dunno why mais moi ça me fait "ActiveRecord::UnknownAttributeError / unknown attribute: password" quand j'arrive au callback url

[2013-11-05 22:49] simonprev commented on #5
Même chose de mon côté, je sais pas pourquoi la table users a une column `encrypted_password`...

[2013-11-05 22:53] j15e commented on #5
Probablement un copier/coller d'un autre projet... dans les migrations password a jamais existé pour users, mettre encrypted_password dans le concern ça fix le problème.

[2013-11-05 23:05] garno commented on #5
La colonne `encrypted_password` provient de Devise. `password` n'est en effet pas un attribut de user mais une méthode qui sert à définir `encrypted_password`. Bref, la ligne pourrait même être enlevé des attributs puisque le mot de passe ne sert absolument à rien dans un cas comme celui-ci.

Une partie du code provenait d'un exemple de Devise + Omniauth et contient bel et bien `password: ...`. We

[2013-11-05 23:05] garno commented on #5
Je viens de pousser un fix.

[2013-11-05 23:21] #3 closed, assigned to nobody

[2013-11-05 23:33] pier-oliviert opened #9 "Ouvert à dropper Devise?"
Je ne suis pas certain d'où vous allez avec le projet, mais je vois github-oauth et c'est bundler dans un ActionController action.

Puisque ça utilise request.env[], ça pourrait probablement être placé dans une strategy de warden comme ça, vous garderiez le business logic dans le controller/model et garderais l'authentication pour les strategies.

Je sais pas si vous me suivez, mais en même temps,

[2013-11-05 23:44] garno commented on #9
Pour le moment, je ne vois pas le gain puisque la création de compte est déjà fonctionnelle et que je préfère faire progresser les autres parties avant de faire du _refactoring_. C'est un peu prématuré mais, si tu y tiens, je ne suis pas nécessairement contre l'idée.

Il faudrait voir le résultat avant de juger ;)

[2013-11-05 23:51] pier-oliviert commented on #9
Entre autre, c'est habituellement plus facile à tester des strategies que des tests d'intégrations. J'y tiens pas, c'était une suggestion. On a tous nos définition du refactoring ;)

Bonne chance.

[2013-11-05 23:51] #9 closed, assigned to nobody

[2013-11-05 23:59] remi commented on #4
La taverne c’est pas que c’est sexiste, c’est que ça me semble trop familier. Pas qu’on veut que ça soit professionnel, mais m’semble ça serait cool si ce n’était pas un mot associé à un endroit où les gens vont prendre un coup :smile:

[2013-11-06 00:07] remi opened #12 "Ne pas utiliser de traductions « absolues »"
Nos clés de localisations devraient toujours commencer par un `.`.

Ça nous force à construire les éléments des pages de façon constante en créant des _partials_ dont les traductions sont stockées dans un même fichier YAML de localisation.

[2013-11-06 00:10] j15e commented on #12
+1

[2013-11-06 00:15] j15e commented on #12
ptête mettre ça dans un CONTRIBUTING.md genre? au lieu de garder un issue open

[2013-11-06 00:16] remi commented on #12
Je vais le mettre dans `CONTRIBUTING.md` mais mon but n’est pas de garder le issue ouvert. C’est une tâche assignée à moi pour cleaner les traductions actuelles ;)

[2013-11-06 00:36] pier-oliviert commented on #4
chevalier-de-colomb.opencode.ca

[2013-11-06 00:53] renaudleo commented on #4
Idées random dans la lignée de la collaboration, collectivité et compagnie (vous pouvez clairement voir mon cheminement mental) :
- partage.opencode.ca
- potluck.opencode.ca
- chaudiere.opencode.ca
- ragout.opencode.ca

[2013-11-06 00:56] remi commented on #4
I LOL’d.

[2013-11-06 01:15] remi opened #13 "Ajouter friendly_id pour les permaliens des posts"

[2013-11-06 01:21] #12 closed, assigned to remi

[2013-11-06 01:38] remi opened #16 "Stocker le `gravatar_id` que nous retourne GitHub dans User"

[2013-11-06 01:55] j15e commented on #16
pas besoin vraiment on a juste à faire `Digest::MD5.hexdigest(@user.email)`

[2013-11-06 01:56] remi commented on #16
Le `email` du user n’est pas toujours retourné par l’API de GitHub, mais `gravatar_id` oui.

[2013-11-06 01:57] j15e commented on #16
ah ouais si le email est privé! good alors!

[2013-11-06 02:21] remi opened #19 "Ré-écrire les routes pour utiliser des ressources"

[2013-11-06 02:24] remi opened #20 "Utiliser gaffe pour gérer les pages d’erreur"

[2013-11-06 02:24] remi opened #21 "Ré-écrire le formulaire de création de post pour utiliser `form_for`"

[2013-11-06 02:59] #1 closed, assigned to nobody

[2013-11-06 03:08] #19 closed, assigned to remi

[2013-11-06 03:08] #16 closed, assigned to remi

[2013-11-06 03:08] #13 closed, assigned to remi

[2013-11-06 03:08] #21 closed, assigned to remi

[2013-11-06 03:09] remi opened #26 "Créer un helper `render_error_messages(<instance>)` pour le formulaire de soumission de lien"

[2013-11-06 03:31] j15e opened #28 "Paginate Posts"
Faudrait paginer, les posts, I'm on it

[2013-11-06 03:50] simonprev opened #30 "Use a more "popular" comment gem"
More stars, more docs
https://github.com/the-teacher/the_comments

https://github.com/the-teacher/the_comments/blob/master/docs/whats_wrong_with_other_gems.md#why-thecomments-is-better-than-others-gems

[2013-11-06 03:51] remi commented on #30
Wat?

Sinon, awesome choix! Let’s do this!

[2013-11-06 04:01] #28 closed, assigned to nobody

[2013-11-06 04:02] j15e commented on #30
seems legit

[2013-11-06 04:04] #20 closed, assigned to remi

[2013-11-06 04:57] garno commented on #2
Voir Pull Request https://github.com/opencodeqc/ocn/pull/32

[2013-11-06 04:57] #2 closed, assigned to garno

[2013-11-06 05:04] simonprev opened #37 "Add super clever algorithm to sort by popularity"
Ça devrait ressember à ça, tweaké un peu, bien sûr, sur un échantillon de `Post`

[code]

Je suis pas un rocket scientist mais ça devrait nous convenir pour l'instant...

[2013-11-06 05:23] simonprev commented on #37
Mettont un exemple de frontpage "popular":
![capture decran 2013-11-06 a 00 18 15](https://f.cloud.github.com/assets/464900/1480245/1cf9ba1a-46a3-11e3-9f42-3f3322f389f0.png)

Les likes comptent pour beaucoup dans l'équation (3x plus que les comments). Mais comme vous pouvez le voir, un post du 5 novembre avec 163 likes dépasse un post du 4 novembre avec 235 likes.

Je vais faire une pull request q

[2013-11-06 05:27] j15e commented on #37
cool ; ps la fonction unix existe pas en postgresql ça va prendre une autre version si on le deploy sur heroku

[2013-11-06 13:57] L-A commented on #4
Groupe, Collectif, Global sont des bons noms. J'aime Groupe parce que ça fait un petite distinction entre la communauté et l'événement. Groupe, et Soirée. C'est nice.

scene.opencode.ca? C'est un clin d'oeil à l'événement aussi.

"C'est hot man, mets ça sur la scène."

[2013-11-06 14:46] jbourassa commented on #37
Est-ce que y'a une limite de temps? Parce que si le nombre de post devient gros ça sera pas beau sans index, il faudra faire un full table scan à chaque requête. Pas un problème majeur immédiatement, mais éventuellement ça va craquer.

[2013-11-06 15:52] j15e commented on #37
Ouin on devrait genre mettre un max 1 mois ou de quoi du genre au départ de la requête

[2013-11-06 16:45] frederickdubois commented on #37
Idéalement, assez rapidement tu veux pas faire ta requête en live, tu veux mettre ton résultat en cache un certain temps.

Probablement qu'un "hard time limit" va donner des résultats étranges. Faudrait trouver une manière de retirer ce qui est vieux ET qui a pas généré d'intérêt. Si on a une red-hot-discussion de 30 jours et qu'elle disparaît d'un coup c'est weird

[2013-11-06 16:51] remi commented on #37
Donc ça serait cool si l’algorithme prennait en compte le `created_at` des likes et des comments.

[2013-11-06 17:16] jbourassa commented on #37
^ Yup. Pas certain de comment faire ça d'une façon rapide / indexé. Surement qu'un de ces clone de reddit (ou un peu de google-fu) peut nous donner une idée.

[2013-11-06 18:06] frederickdubois commented on #37
bah, faut juste pas calculer tout en "live"

si on a un worker ou une mise à jour "on event" qui tiens à jour la clé de "hotness" de chaque article asynchronously on devrait être bon

au fond, on voudrait trier sur l'algo pour la liste complète ou juste pour la home page? Si on navigue séquentiellement dans l'app on passe en mode "date only" ou on reste par relevance pour passer à travers tous les

[2013-11-06 19:27] simonprev commented on #37
Êtes-vous fou? :wink: Là c'est pas pour être platte mais le sorting de popularité sera pas "caché", sera calculé à chaque request et sera basé sur les nombres de likes et comments. On va aussi mettre une limite pour pas mettre la table en entier en mémoire.

Voici l'algo de reddit quand ça a commencé: https://github.com/reddit/reddit/blob/master/sql/functions.sql#L23

Quand le problème sera que la

[2013-11-06 19:34] jbourassa commented on #37
Pour ré-enchérir sur ce que Rémi dit, on n'a qu'à _touch_ le `updated_at`
et limiter par ça, ça va donner quelque chose de assez garantie rapide
imho. Simple et très peu de downside.

0.02$ canadien

[2013-11-06 19:36] simonprev commented on #37
Oui bon point le `updated_at`, will do!

[2013-11-06 19:57] garno commented on #37
:+1: sur ce que Simon a dit. On ne sait même pas encore ce qui nous intéresse et qu'est-ce qui rend réellement un article populaire. Il est possible que finalement, les commentaires soient plus importants que les _likes_ ou vice-versa. Ça sert absolument à rien de se _garocher_ dans un algorithme hyper précis, d'utiliser de la cache et d'optimiser en fou. On est pas rendu là imho.

Gardez en tête

[2013-11-06 19:59] j15e commented on #37
good enough, le prochain argument devrait être une pull request

[2013-11-06 21:07] remi opened #38 "Rédiger un “briefing” du projet dans le README"
Ce briefing devrait définir :
- Le but et la motivation de développement du projet
- Les spécifications techniques globales
- Des fonctionnalités à développer pour la première version
- Des fonctionnalités potentielles à ajouter dans le futur
- Un échéancier idéal?

[2013-11-06 21:37] garno opened #40 "Possibilité de voter up un post"
On veut garder une attitude positive donc, pas de _vote down_ :)

[2013-11-06 22:13] remi opened #43 "Ajouter un flag "présentateur""
Ça serait cool que les utilisateurs qui ont donné des présentations à l’OpenCode ait un petit badge dans leur profil (peut-être pas _tout le temps_ à côté de leur nom par contre).

[2013-11-07 03:29] j15e commented on #40
je me lance

[2013-11-07 05:28] garno commented on #4
Je ne déteste pas l'idée de scene.opencode.ca. C'est effectivement un endroit pour partager sous le _spotlight_.

[2013-11-07 05:33] garno commented on #37
Voir _pull request_ https://github.com/opencodeqc/ocn/pull/46

[2013-11-07 05:33] #37 closed, assigned to j15e

[2013-11-07 05:34] garno commented on #38
Voir _pull request_ https://github.com/opencodeqc/ocn/pull/44

[2013-11-07 05:34] #38 closed, assigned to garno

[2013-11-07 05:35] garno commented on #26
Voir _pull request_ https://github.com/opencodeqc/ocn/pull/36

[2013-11-07 05:35] #26 closed, assigned to remi

[2013-11-07 05:35] garno commented on #40
Voir _pull request_ https://github.com/opencodeqc/ocn/pull/47

[2013-11-07 05:35] #40 closed, assigned to j15e

[2013-11-07 05:35] garno commented on #43
Voir _pull request_ https://github.com/opencodeqc/ocn/pull/48

[2013-11-07 05:35] #43 closed, assigned to garno

[2013-11-12 03:03] garno opened #58 "Parlons design"
Si vous êtes tombé sur des _screenshots_ de l'app dans son état actuel ou que vous avez faire un petit _pull_, vous avez constaté que l'accent n'a pas été mis sur le design, ni même sur le _ux_. Puisque nous voulons essayer de lancer la plateforme d'ici le prochain OpenCode, il serait peut-être temps de s'en soucier un peu et d'y penser.

Je tiens énormément à garder le tout très simple et épuré,

[2013-11-12 03:08] j15e commented on #58
Moi je vote contre le CSS

[2013-11-12 03:21] garno commented on #58
Puis-je te demander pourquoi?

[2013-11-12 03:22] j15e commented on #58
C'était une blague, mais j'avoue qu'elle était pas si drôle, yé tard!

[2013-11-12 03:29] garno commented on #58
C'est pas facile à _gager_ sur les interwebs :) J'avais espoir que tu ne sois pas sérieux. Truth is, y'a des puristes qui aimeraient bien que ça soit du plain old html.

[2013-11-12 03:31] j15e commented on #58
J'ai mis le CSS inline sur mon site perso pour que ça load plus vite, mais je me suis pas rendu jusqu'à l'enleve ;p

[2013-11-12 03:45] EtienneLem commented on #58
2 cents; Si c’est le CSS votre concern pour un (re)design, ya un problème (dans le sens que votre concern est mal placé, non pas que _vous_ avez un problème :stuck_out_tongue_winking_eye:). Peu importe le design y’a toujours moyen de faire du CSS performant, faut juste pas perdre le contrôle.

La grosse différence avec le backend c’est que c’est rarement (disont aisément) _refactorable_ sans voulo

[2013-11-12 03:50] j15e commented on #58
C'ÉTAIT UNE JOKE lol

[2013-11-12 03:51] EtienneLem commented on #58
I KNOW I KNOW, mais

C’était surtout re: ça

[2013-11-12 03:53] j15e commented on #58
Plus sérieusement je pense qu'on devrait faire de quoi de plus "user friendly" que HackerNews, on est en 2013, je ferais un site qui look 2013 même si on le fait simple et clean.

Plus spécifiquement, j'aimerais bien ça que le texte soit un peu plus gros et un peu plus lisible. Mais je pense que ça pourrait être bien de garder quelques clin d'oeil à hacker news ou autre comme le ▲ pour upvote.

[2013-11-12 04:00] EtienneLem commented on #58
Yup. Je sais pas si on peut aller chercher de l’inspiration sur http://www.readability.com ou encore http://www.instapaper.com, mais je verrais de quoi d’assez épuré et focusé sur la typo avec une seule couleur d’accent (pour les liens, etc.).

[2013-11-12 19:53] garno commented on #58
@EtienneLem C'est pas mal ma vision aussi. Il manque juste quelqu'un qui se lance à le faire :) Je pense pas que l'on ai besoin de maquettes pour ça.

[2013-11-13 01:14] garno opened #63 "Ne plus afficher le bouton up vote lorsque déjà voté"

[2013-11-13 01:14] garno opened #64 "Permettre le nesting de commentaires"

[2013-11-13 01:15] garno opened #65 "Ajouter l'increment de Karma lors de l'up vote d'un commentaire"

[2013-11-13 03:09] #65 closed, assigned to garno

[2013-11-13 04:15] garno commented on #30
C'est **huge**, je viens de commencer à l'intégrer pour remplacer [Parole](https://github.com/mirego/parole). Y'a vraiment un shitload de features inutiles pour notre utilisation (i.e. draft, admin, views, etc.).

imho, il serait mieux de modifier un peu Parole pour permettre le threading de commentaires.

[2013-11-13 04:16] j15e commented on #30
+1 for home made stuff

[2013-11-13 05:14] #63 closed, assigned to garno

[2013-11-13 11:44] remi commented on #30
:+1: aussi. Améliorons Parole à la place, au lieu de ditcher des features dans une autre librairie plus complète.

[2013-11-13 14:37] #30 closed, assigned to nobody

[2013-11-13 14:37] #64 closed, assigned to nobody

[2013-11-13 21:57] Madumo commented on #4
agora.opencode.ca

[2013-11-15 14:59] simonprev commented on #4
carrefour.opencode.ca

[2013-11-20 02:53] garno opened #77 "Ne pas afficher les logs d'ActiveRecord lorsque l'on roule les tests"
J'ai aucune idée pourquoi ils s'affichent mais c'est irritant.

[2013-11-20 12:15] remi commented on #77
Je sais très exactement pourquoi. Je n’ai pas trouvé de solution encore :smile:

[2013-11-20 14:28] garno commented on #77
Indice? :) J'ai cherché un peu et je n'ai pas trouvé...

[2013-11-20 18:56] pier-oliviert commented on #77
J'étais curieux, et parce que quand j'ai une idée dans tête je l'ai pas dans les pieds, voici la cause. Enlever le gem rails_12factor devrait régler ça. https://github.com/heroku/rails_stdout_logging/blob/master/lib/rails_stdout_logging/rails.rb#L3

[2013-11-20 18:56] remi commented on #77
En fait, il faudrait juste la laisser en `production` dans le `Gemfile`.

[2013-11-20 18:59] remi commented on #77
Aaaaaand done!

[2013-11-20 18:59] #77 closed, assigned to nobody

[2013-11-20 18:59] pier-oliviert commented on #77
Yes, t'a raison! /Kirk out

[2013-11-20 18:59] remi commented on #77
Merci pour le bug hunting! :grinning:

[2013-11-21 17:05] L-A commented on #58
Bonjour.

[2013-11-21 18:52] remi commented on #58
:+1:

[2013-11-24 01:13] L-A commented on #58
Sur ce point, j'ai un undefined method qui m'empêche de lancer OCN depuis que j'ai pull cette semaine.

C'est `preload_app!` dans `config/puma.rb` qui le déclenche. On peut faire du gros debugging à distance, ou quelqu'un peut me shooter un snapshot HTML utilisable.

[2013-11-24 02:20] garno commented on #58
Ah, il y a un problème avec le script de puma. Ça fonctionne si tu fais simplement `bundle exec rails server` au lieu de `bundle exec foreman start`. Je vais fixer ça demain dès que j'ai 2 minutes.

Have fun :)

[2013-11-24 17:47] remi commented on #58
C’est réglé. J’ai upgradé puma à sa version la plus récente qui supporte `preload_app!`.

[2013-11-24 19:09] L-A commented on #58
`bundle exec puma` maybe?

Tout est up and running, là. Je suis en train de me battre avec Bootstrap. C'est qui qui met des listes partout comme ça? Je dois jouer dans les templates pas mal à date.

[2013-11-25 12:33] remi opened #82 "Les dates relatives devraient voir un timestamp absolu dans leur attribut `title`"
Facile à faire avec un petit helper qu’on utilise à chaque fois qu’on output une date relative.

[2013-11-25 13:00] garno opened #83 "Ajouter les templates d'erreur pour Gaffe"
En production, Gaffe génère des erreurs 500 puisque les templates ne sont pas accessibles.

[code]

[2013-11-25 13:03] garno opened #84 "Mettre à jour le `comments_count` d'un Post lors de la création d'un Commentaire threadé"
En ce moment, seulement les commentaires du premier niveau mettent à jour la colonne `comments_count` d'un Post.

[2013-11-25 13:09] garno opened #85 "Layout issue dans la liste des Posts lorsqu'il ne s'agit pas d'un lien"
![](http://f.cl.ly/items/1m2W1R281L2P1L391M3d/Capture%20d%E2%80%99%C3%A9cran%202013-11-25%20%C3%A0%2008.08.19.png)

Le "13." est plus bas.

[2013-11-25 13:12] garno opened #86 "Mettre un Titre et une URL vide provoque une erreur de duplicated URL for ''"
![](http://f.cl.ly/items/1D1P0B3y2p0c0X372p3l/Capture%20d%E2%80%99%C3%A9cran%202013-11-25%20%C3%A0%2008.11.12.png)

En profiter pour fixer la string :)

[2013-11-25 13:37] #85 closed, assigned to nobody

[2013-11-25 13:38] #86 closed, assigned to nobody

[2013-11-27 04:07] gcauchon opened #94 "README.md - Clarifier le setup GitHub OAuth pour le développement localhost"
C'est la première webapp pour laquelle j'utilise l'OAuth d'un _3rd party_, comment on fait pour exposer un app local pour les callback URLs d'une [application GitHub](https://github.com/settings/applications)?

J'imagine qu'il y a des tools pour associer un DNS avec une machine local et du port forwarding à faire sur mon de router pour laisser passer les requêtes sur le port `80` !?

[2013-11-27 04:17] gcauchon commented on #58
Jumpin in pour vous donner un coup de pouce... je suis loin d'être un artiste designer, mais j'ai un bon instinct et je pense qu'on dois rendre le site le plus _mobile-friendly_ possible. Comme @j15e a dit, une font plus grosse, plus d'espace pour séparé les _blocks_ d'information naturellement et un peu de fine-tuning pour ajuster le layout en fonction des breakpoints de la grille responsive de B

[2013-11-27 04:24] j15e commented on #94
Pas besoin de rien de ça, t'as juste besoin de setup une key oAuth sur github :

https://github.com/settings/applications/new

[2013-11-27 04:24] j15e commented on #94
tu peux mettre http://localhost ça marche

![config](https://f.cloud.github.com/assets/143380/1628698/d517eb2a-571b-11e3-9ec8-2282966828b1.png)

[2013-11-27 04:38] gcauchon commented on #94
c'était trop simple pour que j'y pense il faut croire...

[2013-11-27 04:38] #94 closed, assigned to nobody

[2013-11-27 13:46] plbabin commented on #58
je peux aider avec le design aussi, faudrait juste pas être 6 à travailler là dessus chacun dans notre coin :)

[2013-11-27 13:57] jipiboily commented on #4
:thumbsup: pour scene.opencode.ca || agora.opencode.ca

@renaudleo: t'as écrit ça juste avant de manger, right? ;)

@EtienneLem: @garno n'est pas le seul à faire cette association...c'est réservé à ceux qui ont attendus des tounes à la radio pendant des heures pour se faire un mixte p-e? Ou reculer une cassette avec un crayon...

:thumbsup: pour l'idée en passant!

[2013-11-27 14:06] jpsirois commented on #4
J’aime bien `scene.opencode.ca` aussi.

[2013-11-27 15:27] j15e commented on #94
:+1:

[2013-11-27 18:08] matehat commented on #4
Petite parenthèse, "news" est reconnu dans la plupart des dictionnaires français!

Mais perso, :+1: pour scene.opencode.ca et mur.opencode.ca

[2013-11-27 18:25] remi commented on #4
Moi je pense qu’on pourrait aussi continuer d’appeler ça `ocn.opencode.ca`, pour _OpenCode Nouvelles_. Et on continue de prononcer ça _Oh-see-n_, parce que c’est cool :smile:

[2013-11-27 18:26] Madumo commented on #4
$(this) ^

[2013-11-27 19:11] plbabin commented on #58
ma proposition pour le design, ça peut être un point de départ, comme ça peut être lancé au poubelle, à vous de choisir :)

![image](https://f.cloud.github.com/assets/203992/1634293/a7d23568-5797-11e3-93aa-6522d4613741.png)

[2013-11-27 19:40] gcauchon commented on #58
that's it!

infinite-scroll pour éviter la pagination et les "loading"?

[2013-11-27 19:41] remi commented on #58
:-1: pour le infinite scroll

[2013-11-27 19:42] plbabin commented on #58
vue que l'app utilise turbolink je crois pas que ça soit nécessaire

[2013-11-27 19:43] gcauchon commented on #58
@remiprev d'où le point d'interrogation!

[2013-11-27 19:43] remi commented on #58
C’est ça, je répondais à ta question avec mon opinion personnelle :smile:

[2013-11-27 19:44] Madumo commented on #58
Je suis aussi en train de concocter un template, j'vous le montre d'ici une heure.

[2013-11-27 20:01] j15e commented on #58
:-1: pour le infinite scroll too. "Plus de ragout" c'est awesome.

[2013-11-27 20:18] gcauchon commented on #58
C'est bien trop vrai; j'avais oublié que le "Plus de ragout" était la pagination!

À ma défence d'avoir mentionné le _infinite-scroll_, je suis sans émotion pour tous les types de pagination qui existent :
- la pagination traditionnel `[first] [prev] [0] [1] ... [next] [last]` c'est lourd visuellement et surtout contextuellement meaningless.
- le infinite-scroll ou une simple navigation `[prev] [n

[2013-11-27 21:59] Madumo commented on #58
Ça demande encore un peu de travail, mais qu'en pensez-vous jusqu'à présent?

![demo-app](https://f.cloud.github.com/assets/2637675/1635472/07ddab4c-57af-11e3-9482-8adaba392aac.png)
![demo-mob-2](https://f.cloud.github.com/assets/2637675/1635473/07e5129c-57af-11e3-9842-eda886bb10db.png)
![demo-mob-1](https://f.cloud.github.com/assets/2637675/1635474/07e63a50-57af-11e3-86c5-c7fb26845269.png)

[2013-11-27 22:04] Madumo commented on #58
@plbabin j'aime bien comment tu as organisé les posts, j'vais m'en inspirer.

[2013-11-27 22:07] louim commented on #58
@j15e, @remiprev par pure curiosité, pourquoi pas de infinite-scroll? Pour la complexité que ça apporte?
@Madumo  j'aime bien ce que je vois! Peut-être ajouter une  séparation entre les post un peu plus définie?

[2013-11-27 22:08] Madumo commented on #58
@louim en effet, j'ai pas trop travaillé l'affichage des posts à présent.

[2013-11-28 14:37] jpsirois opened #95 "Indiquer que l’on doit saisir une URL ou une Description"
Présentement c’est vraiment identique au feature de Hacker News à ce niveau. Il faudrait juste que ce soit indiqué dans le formulaire.

Au passage je me demandais, est-ce qu’on voudrait permettre de publier un lien ainsi qu’une description?

[2013-11-28 14:43] garno commented on #95
Non ce n'est pas prévu, je ne vois pas l'intérêt d'ajouter une description pour un lien. Je préfère que ça soit un commentaire.

:+1: pour mieux indiquer le fonctionnement.

[2013-11-28 14:52] jpsirois commented on #95
Faudrait aussi ajouté une validation ou mieux encore, une façon de permettre de saisir seulement 1 des 2.

Ex: Radio qui toggle entre un input d’URL et un Textarea pour la description.

[2013-11-29 20:44] L-A commented on #58
Je lance une grosse balle courbe: C'est un site de discussion, est-ce qu'il ne serait pas plus efficace de permettre d'en voir une partie au premier niveau? Personne ne nous force à faire comme YC/Reddit et demander de toujours changer de page pour voir les 2 commentaires de chaque post.

Something something wireframe:
![ocn exemple](https://f.cloud.github.com/assets/861964/1647220/fae7fb48-5936-1

[2013-11-29 20:48] EtienneLem commented on #58
Pourquoi pas! Ça me semble quand même une bonne idée.

Technicalité: PushState quand t’ouvres le “panel” (fack quand tu refresh t’es dans le même state, panel ouvert). En responsive rendu trop petit, tu drop le listing pis tu fais du back ’n forth (w/ PushState on me suit?).

[2013-11-29 20:51] Madumo commented on #58
Tu parles bien du truc qui permet de naviguer dans l'historique du browser?

[2013-11-29 20:53] plbabin commented on #58
@Madumo oui

@L-A ça slide left quand on click sur un thread?

@EtienneLem pourquoi pas ouvrir le contenu en dessous du post ? c'est p-e pas efficace par contre (sinon on fait comme tu dis, quand on click et qu'on est dans un viewport trop petit,on laisse le défaut du lien agir)

[2013-11-29 20:54] louim commented on #58
Est-ce qu'il y aurait une façon d'accéder au thread en view "full screen"? Si c'est un long post, ou qu'il y a beaucoup de commentaires imbriqués (j'pense pas que ça en vienne comme reddit ou c'est presque impossible de suivre les niveaux d'imbrication tellement il y a de commentaires, mais bon), selon moi ça pourrais être utile. Ou alors une manière de minimiser la colonne de gauche pour avoir pl

[2013-11-29 20:58] jpsirois commented on #58
Je viens justement de tomber sur un site qui ressemble beaucoup à ce dont on parle ici. Pour l’inspiration si jamais ça peux servir : http://monocle.io/posts/monocle-has-been-open-sourced (J’ai le lien vers cet article parce qu'il y a des commentaires pour avoir un aperçu.)

[2013-11-29 20:59] gcauchon commented on #58
J'aime bien l'idée d'utiliser l'espace horizontale pour présenter un preview dans une colonne à droite! OCN s'adresse aux devs actifs dans la communauté de Québec, on s'entend qu'on travaille tous avec des grosses résolutions alors le _responsiveness_ fait beaucoup de sens, surtout pour conserver une bonne utilisabilité sur les tablets/mobiles!

Ça va prendre un synonyme à "Plus de ragout" pour la

[2013-11-29 21:01] EtienneLem commented on #58
Cool! Pour les power users y’a vraiment de quoi à faire: `j`, `k` pour naviguer, `u` pour upvoter, `c` focus le textarea pour commenter, etc :metal:

[2013-11-29 23:46] Madumo commented on #58
J'aime bien l'idée de la vue sur le côté. Je pense qu'on devrait aussi afficher la vue sous le post en version petite résolution lorsque les évènements touch sont disponible, et j'ajouterais de la gestuelle qui permettrait de fermer la vue du post en "slidant" vers la gauche. En version large ça fermerait la vue en la glissant vers la liste des posts, et en petite résolution tu la glisses en dehor

[2013-11-30 01:53] L-A commented on #58
En fait, en version mobile, ça permettrait de garder exactement le même markup et de simplement présenter une des deux moitiés à la fois – largeur oblige. @EtienneLem tu me corrigeras si je dis des imbécilités (also, j'aime l'idée des raccourcis).

@plbabin Gut feeling: je crois pas qu'un slide in/out est approprié dans un viewport large. On s'en sert habituellement pour entretenir une métaphore q

[2013-12-02 12:31] garno commented on #58
Nice! Good job guys :) J'adore la vision que vous avez de OCN en colonnes mais je ne crois pas que ce soit une priorité pour lancer rapidement. Pour le moment, je crois qu'on peut y aller avec la version de @Madumo qui est très clean et simple. Si on se lance tout de suite dans la version de @L-A on ne pourrait pas lancer avant plusieurs semaines encore.

Est-ce que ça vous convient?

[2013-12-02 12:32] remi commented on #58
C’est toi le boss :smile: Pour vrai, je suis 100% d’accord.

[2013-12-02 12:57] #82 closed, assigned to nobody

[2013-12-02 13:16] plbabin commented on #58
all in

[2013-12-02 13:17] jpsirois commented on #58
:+1: C’est ce qui est le plus logique!

[2013-12-02 13:17] plbabin commented on #58
@Madumo tu devrais créer une branche pour qu'on puisse t'aider à intégrer le design, à moins que tu as déjà tout fait et qu'il te reste juste à envoyer un PR :)

[2013-12-02 14:31] L-A commented on #58
Crime @garno je pensais que la version rapide c'était juste pour le Opencode. Go pour ce que @Madumo a fait, dans ce cas, a va être beaucoup plus efficace. On fera p-e un petit hustle autour des couleurs :)

[2013-12-02 14:35] L-A commented on #4
@remiprev J'étais sûr que tu prononçais ça "Oh Shaun"

![image](https://f.cloud.github.com/assets/861964/1655248/015d5138-5b5f-11e3-9e29-0ed14a66e7a2.png)

[2013-12-02 14:42] gcauchon commented on #82
Question d'un gars qui a pas mal moins de web derrière la cravate : est-ce qu'on ne devrait pas gérer le display des dates en JS à la place de le faire backend?

J'utilise habituellement `moment.js` parce que ça se base sur la locale et que c'est facilement paramétrisable; ça s'applique plus facilement dans un mvc JS que dans une webapp server-rendered par contre...

[2013-12-02 14:44] remi commented on #82
Je ne trippe pas sur le fait de se fier sur JavaScript pour afficher des dates. Le moins de JS possible :smile:

[2013-12-02 14:47] EtienneLem commented on #82
Je trouve que GitHub ont la meilleure solution. La date est géré bothend (lol). Printé serveur (avec un attribut datetime et title) et refreshé en JavaScript.

Ça s’appel le _progressive enhancement_.

[2013-12-02 14:51] gcauchon commented on #82
@remiprev je suis curieux de t'entendre expliquer les expériences qui t'ont amenées à ne pas 'tripper' sur JS pour les dates. Sujet intéressant pour un talk; on s'entend qu'afficher des dates, c'est valide pour à peu près tout ce qui se fait sur le web!

@EtienneLem intéressant, je vais regardé ça...

[2013-12-02 14:52] remi commented on #82
Je ne trippe pas sur ajouter du JS pour un truc que le backend gère très bien.

[2013-12-02 15:00] gcauchon commented on #82
Est-ce que ça se gère aussi bien avec de l’`i18n`? J’ai toujours pensé que le backend devait avoir le moins de logique d’affichage possible…

Discussion à suivre en personne!

[2013-12-02 16:51] Madumo commented on #58
~~Voilà: https://github.com/Madumo/ocn/tree/new_nav_bar~~

Voilà: https://github.com/Madumo/ocn/tree/redesign

J'aimerais proposer qu'on enlève bootstrap. On en fait presque pas l'utilisation et à toutes les fois que j'veux faire une modif y'a 1000 sélecteurs différents qui s'attaque à l'élément que j'essais de modifier, c'est dérangeant. Aussi j'aime pas trop comment le responsiveness est géré pa

[2013-12-02 17:01] EtienneLem commented on #58
**Bref bootstrap** <del>en ce moment</del> **c'est** <del>plus</del> **un bâton dans** <del>nos</del> **les roues.** <del>qu'une aide précieuse.</del>

Yep :+1:

[2013-12-02 17:59] Madumo commented on #58
J'ai merger les dernières modif qu'il y a eu sur master et j'ai donné un nom plus adéquat à la branch. Au départ je voulais juste refaire la nav bar mais mes modifications ont dépassées ce scope.

https://github.com/Madumo/ocn/tree/redesign

[2013-12-02 18:29] garno commented on #58
@L-A Oui au départ mais comme j'ai pas réussi à livrer on va se contenter de mettre en ligne et voir si la réponse est bonne avant d'investir du temps de fou :) La version que tu proposes est de loin supérieure mais peu réaliste à court terme.

[2013-12-02 22:28] Madumo commented on #58
J'ai fait un pull request pour ma version du design.

@plbabin Ça serait cool si tu pouvais y ajouter les modifications que tu as fait sur la présentation des posts (sans les bordures je dirais, mais bon à toi de voir) ainsi que celles du footer.

@L-A Je vais te laisser faire ta magie de designer pour ce qui est des couleurs ;-)

[2013-12-03 20:06] Madumo opened #102 "Les erreurs s'affichent toujours dans des alert-success"
Par exemple, lors de la publication d'un post dont le formulaire est incomplet, le message d'erreur s'affichera dans un div aillant la classe alert-success.

[2013-12-03 20:09] #102 closed, assigned to nobody

[2013-12-03 20:10] Madumo commented on #83
Est-ce-que l'issue [#102](https://github.com/opencodeqc/ocn/issues/102) est un workaround temporaire à ce problème?

[2013-12-03 20:11] remi commented on #83
Non ce n’est pas relié. Gaffe gère les pages d’erreur, pas les messages d’erreur.

[2013-12-03 20:11] Madumo commented on #83
AAAaahhh.

J'ai rien dit alors.

[2013-12-03 20:12] remi commented on #83
Es-tu certain que c’est encore le cas? Je vois bien la page d’erreur 404 → http://ocn-staging.herokuapp.com/foo

[2013-12-03 20:21] Madumo commented on #102
Faudrait modifier la classe .alert-danger pour .alert-error dans le css par contre. J'avais utilisé .alert-danger puisque c'était ce que bootstrap utilisait.

[2013-12-03 20:22] remi commented on #102
@Madumo Fixé dans 374f360c67b1d085f912506f41b892aaa88cdb0f.

[2013-12-04 01:39] Madumo opened #106 "Chatroom"
Au dernier Open Code, vous aviez parlé de rendre publique une chatroom que vous utilisiez lors du développement. Est-ce toujours envisageable?

[2013-12-04 16:11] j15e commented on #106
https://www.hipchat.com/glDQqgwfx

[2013-12-04 16:19] garno commented on #106
Merci JP! J'ai complètement oublié de répondre ce matin.

[2013-12-04 16:19] #106 closed, assigned to nobody

[2013-12-05 04:55] #83 closed, assigned to nobody

[2013-12-05 05:14] garno commented on #58
Je vais fermer la thread pour là. On a une v1 qui fait du sens niveau design :) Thanks all!

[2013-12-05 05:14] #58 closed, assigned to nobody

[2013-12-05 05:15] garno commented on #4
OCN it is.

[2013-12-05 05:15] #4 closed, assigned to nobody

[2013-12-05 05:15] garno commented on #84
Voir pull request #107

[2013-12-05 05:15] #84 closed, assigned to nobody

[2013-12-05 05:18] garno opened #108 "Skin du profil d'un membre"

[2013-12-08 21:28] Madumo opened #109 "À quand la fête?"
Salut tout le monde,

Il me semble qu'on a une première version fonctionnelle qui je crois pourrait être mise en ligne. À moins que vous teniez à ce que #108 soit réglé avant?

Donc, je vous pause la question: quand-cé-que-cé qu'on met ça en prod? :birthday:

[2013-12-08 22:18] garno commented on #109
C'est prévu pour demain matin :)

[2013-12-08 22:26] Madumo commented on #109
Booyah!

[2013-12-09 04:18] masterT commented on #109
:)

[2013-12-09 14:12] gcauchon opened #110 "accès au détail d'un post"
J'ai créé mon premier post sur OCN, le seul moyen d'accéder au détail de mon post est de cliqué sur `X commentaires`. Comme je n'ai pas attaché de lien à mon message, n'a pas de `href` alors ça donne l'impression qu'on peut cliqué mais il ne se passe rien...

Je pense qu'on devrait changer le comportement du lien primaire vs. lien externe.

Par exemple sur le premier post de @garno , le titre amèn

[2013-12-09 14:18] jmlacroix opened #111 "La boîte de commentaires devrait se redimensionner quand j'écris"
Pour un commentaire rapide, elle est de la bonne taille. Par contre, quand on écrit quelque chose d'un peu plus long, elle devrait s'adapter au texte.

[2013-12-09 14:19] jmlacroix commented on #110
De mémoire, sur Hacker News je crois que le titre lorsqu'il n'y a pas de lien mène vers la discussion et sinon vers le post externe. J'opterais pour ce comportement pour ma part.

[2013-12-09 14:19] garno commented on #110
Please refresh ;)

[2013-12-09 14:20] #110 closed, assigned to nobody

[2013-12-09 14:26] jmlacroix commented on #111
Même chose pour la boîte de description à la création d'un post.

[2013-12-09 14:27] louim opened #112 "Quand j'écris un commentaire sans être connecté, il disparaît sans feedback quand je clique sur "valider""
Quand l'utilisateur n'est pas connecté, soit il faudrait masquer le champ commentaire et ajouter un liens pour se connecter, soit il faudrait ajouter un message d'erreur quand on envoie le message. Présentement, il fait juste disparaitre et le popup d'erreur n'affiche rien.

[2013-12-09 14:29] jpsirois commented on #111
J’ai remarqué la même chose. Je le fix à l’instant!

[2013-12-09 14:49] jpsirois opened #114 "Conserver les newline saisis dans les descriptions et commentaires pour permettre de mieux diviser le texte."

[2013-12-09 15:03] #111 closed, assigned to nobody

[2013-12-09 17:19] Madumo opened #115 "Le menu mobile ne fonctionne pas"
Dès qu'on clique sur le menu mobile il ce ferme sans activer le lien.
Ça m'apprendra à avoir seulement testé sur un émulateur.

[2013-12-09 18:09] jpsirois opened #116 "Ajouter Google Analytics"
C’est un must!

[2013-12-09 18:23] louim opened #117 "Parser les liens dans les commentaires."
il serait intéressant que les liens dans les commentaires soient parsés pour être cliquable. Ça évite le copier / coller

[2013-12-09 18:30] EtienneLem commented on #117
Genre de chose super facile à faire avec [Micky](https://github.com/rafBM/micky)

[code]

[2013-12-09 18:34] #109 closed, assigned to nobody

[2013-12-09 18:44] garno commented on #116
Tracker les page views m'importe peu mais ça ne peut pas faire de mal ;)

Fixed: https://github.com/opencodeqc/ocn/commit/1b7f8ab5a1983d9e042ea81db1151b5da8f590c1

[2013-12-09 18:44] #116 closed, assigned to nobody

[2013-12-09 18:48] garno commented on #115
@charlesdemers semblait vouloir faire une pull request à ce sujet :) Si tu comptes le faire, assigne-toi la tâche pour éviter d'être 2 à y travailler.

[2013-12-09 18:49] garno commented on #117
Entièrement d'accord. Ça te dit de te lancer et de faire une belle pull request :)?

[2013-12-09 18:50] charlesdemers commented on #115
Peu importe qui le fait, je suggère d'utiliser quelque chose comme FastClick, ça va éviter d'avoir à faire du feature detection et c'est assez lightweight

[2013-12-09 18:55] charlesdemers opened #118 "Le favicon n'est pas Retina"
Je peux m'en occuper si quelqu'un a l'image en assez haute résolution. //cc @remiprev

[2013-12-09 18:56] Madumo commented on #115
J'aimerais bien le fixer moi même :)
Quand mon code plante en prod, j'le prend un peu personnel. :hocho:

[2013-12-09 18:56] remi commented on #118
Est-ce que c’est assez retina ça? :wink:

![](http://opencode.ca/assets/bigicon-a5c12561c217def4e9063da467c4f271.png)

[2013-12-09 18:57] charlesdemers commented on #115
@Madumo Alright je te laisse ça ;)

[2013-12-09 18:57] charlesdemers commented on #118
Yep! Incoming PR!

[2013-12-09 20:23] #118 closed, assigned to nobody

[2013-12-10 01:05] gcauchon commented on #114
on pourrait aussi supporter le `markdown`? j'ai aucune idée si c'est un "given" ou si c'est overkill?

[2013-12-10 01:09] gcauchon commented on #115
le container semble aussi avoir un height fix, on ne peut donc pas scroller le contenu...

[ocn_mobile](https://f.cloud.github.com/assets/801045/1710680/a943fba8-6137-11e3-88ac-fba911012988.jpg)

[2013-12-10 01:24] Madumo commented on #115
J'ai fait pas mal de galipettes pour ne pas avoir deux fois le code du menu dans le html. Le menu c'est la même liste en mobile qu'en desktop, elle est déplacé et placé derrière la page avec du css seulement. Mais bon visiblement ça entraine son lot de problèmes, j'vais revoir ça demain et soumettre une patch

[2013-12-10 01:28] Madumo commented on #115
C'était la première fois que j'essayais de faire ça de cette manière

[2013-12-10 13:50] #117 closed, assigned to nobody

[2013-12-11 13:23] jpsirois commented on #114
Personnellement je suis un fan du markdown, ça pourrait être intéressant je crois si on veux pouvoir formatter les post avec un peu plus de latitude.

[2013-12-11 17:45] EtienneLem commented on #114
Ça pourrait être vraiment bien markdown pour du `code syntax`

[2013-12-11 17:58] jpsirois commented on #114
Je pense qu’il serait judicieux de s’inspiré du [GitHub Flavored Markdown](https://help.github.com/articles/github-flavored-markdown).

[2013-12-11 18:02] jpsirois commented on #114
Ou plutôt l’utiliser? https://rubygems.org/gems/github-markdown

[2013-12-11 20:09] garno commented on #114
Le problème avec ça c'est que je ne veux pas permettre d'avoir de titre ou autre. Il faudrait whitelister les features de markdown que l'on veut avoir (list, bold, italic). C'est là que ça devient complexe, sinon il y aurait de l'abus pour attirer l'attention ;)

[2013-12-11 20:12] louim commented on #114
Tu peux pas juste formater tout le markup de la même façon que du texte? Exemple tous les niveaux de titre on le même format CSS que le "p". Donc tu évite de devoir modifier un document pour retirer les titre si tu veux copier coller et que c'est pas autorisé.

[2013-12-11 20:13] garno commented on #114
Ça va faire une belle bouette dans le markup.

[2013-12-11 20:15] EtienneLem commented on #114
+1 pour whitelister. Si quelqu’un s’essaye avec un `#`, ben y se passe rien pis y se ramasse avec un `#` dans son texte.

[2013-12-11 20:57] jpsirois commented on #114
J’appui le white listing aussi.

[2013-12-11 20:58] jbourassa commented on #114
Je connais pas l'API des parsers de Markdown Ruby mais ce serait vraiment cool d'avoir un subset de markdown pour l'italique, bold, lists, blockquote, code. Aussi en accord avec le fait que les niveaux de titres (et potentiellement d'autres élements) ne sont pas appropriés.

:+1:

[2013-12-11 21:03] Madumo commented on #114
C'est super simple d'implémenter le markdown dans une app ruby en fait.
Tu peux pas mal tout configurer ce qui est possible ou pas avec un array d'options en paramètre.

http://railscasts.com/episodes/207-syntax-highlighting-revised

[2013-12-11 21:18] EtienneLem commented on #114
Pour un autre projet, mais exactement le même concern, Raf vient de me sharer:
- https://github.com/vmg/redcarpet#block-level-calls
- http://dev.af83.com/2012/02/27/howto-extend-the-redcarpet2-markdown-lib.html

Facile!

[2013-12-11 21:37] pier-oliviert opened #122 "Automatic login pour le développement"
Le login par github est vraiment génial mais un peu painful à maintenir en dévelopment.

Si on pourrait se logger automatiquement en dev ça serait bien pour que les nouveaux venu comme moi puisse jouer avec les features du projet sans avoir à passer par github, ouvrir un port pour le callback oauth, etc.

[2013-12-11 21:46] garno commented on #122
Je suis loin d'être un fan de modifier le comportement d'une application selon l'environnement. Ça risque beaucoup plus de causer des problèmes en production et c'est chiant à débugger un coup déployé.

Pour être honnête, ça prend 2 minutes à setupper et j'ai de la misère à comprendre le pain pour la maintenance. Peut-être que si tu élaborais un peu sur les problèmes que ça t'apporte en ce moment,

[2013-12-11 21:56] pier-oliviert commented on #122
Et bien, je me considère quand même bien versé en rails et j'ai aussi déjà refait l'implémentation Oauth en objective-C. Malgré tout ça, il a tout de même fallu que je réfléchisse à ce que je voulais faire avant de faire le setup github.

Alors, si quelqu'un voudrait commencer à développer pour ce projet en tant que premier projet rails, je suis certain qu'il va trouver le temps long juste à confi

[2013-12-11 22:02] garno commented on #122
Ce n'est même pas une question de connaître ou pas OAuth. Il faut simplement se créer une app GitHub et ajouter ton token dans l'environnement. Je vais mettre un walkthrough plus clair dans le README mais je n'ai pas l'intention de modifier le comportement de l'app selon l'environnement. C'est, quant à moi, une mauvaise pratique.

Je suis pas certain de comprendre comment je pourrais développer su

[2013-12-11 22:06] pier-oliviert opened #123 "CSRF vulnerability sur les likes"
Pas de CSRF token sur les POST like.

[2013-12-11 22:07] #122 closed, assigned to nobody

[2013-12-11 22:48] remi commented on #123
Es-tu certain? `jquery-ujs` ajoute le CSRF token dans ses requêtes. Dans mon inspecteur, j’ai ça :

![](http://i.imgur.com/dKLQKTz.png)

À moins qu’on ne parle pas de la même chose?

[2013-12-12 01:12] pier-oliviert commented on #123
J'ai p-e regarde trop vite j'ai pas d'ordi proche. Si javascript est disabled, c'est donc impossible de liker un post?

Envoyé de mon iPhone

[2013-12-12 01:18] remi commented on #123
Yup!

[2013-12-12 01:37] pier-oliviert commented on #123
Ok ferme le ticket debord. J'ai mal checké. C'est bon a savoir pour le jquery ujs, je savais pas!

Envoyé de mon iPhone

[2013-12-12 01:45] #123 closed, assigned to nobody

[2013-12-13 01:05] #115 closed, assigned to nobody

[2014-01-07 16:11] jeffjrare opened #125 "Suggestion: Feed rss?"
Salut!

L'idée de rendre disponible un flux rss pour pouvoir s'abonner et lire les nouveaux articles à partir un reader avait-elle été discutée?

Ce n'est plus super trendy p-e, mais encore beaucoup utilisé quand même, perso je m'en passerais pas.

C'est juste une suggestion, thanks! :)

[2014-01-07 16:21] remi commented on #125
:+1: Excellente idée! Connais-tu Ruby? :smile:

[2014-01-07 16:40] jeffjrare commented on #125
Je te vois venir là! haha yes je connais bien ;)

Je peux me setuper postgres, bootstraper un fork du code et me permettre de soumettre un pull request dans quelque temps!

Avant tout je regarderais pour voir la façon la plus lightweight possible de générer le feed. Il faut que j'y réfléchisse davantage pour ce qui est du contenu délivré (nouveau article depuis x temps, caching...), mais on se rej

[2014-01-14 16:33] garno commented on #125
Voir #126

[2014-01-14 16:33] #125 closed, assigned to nobody

[2014-01-14 16:45] garno commented on #114
Comme l'issue concernait les new lines, je vais la closer et réouvrir un support pour certains éléments du Markdown.  J'ai ajouté un peu de margin pour les `p` et le résultat est beaucoup plus clean:

Exemple: ![](http://f.cl.ly/items/1q4205421z06272y0a3E/Capture%20d%E2%80%99%C3%A9cran%202014-01-14%20%C3%A0%2011.44.44.png)

[2014-01-14 16:45] #114 closed, assigned to nobody

[2014-01-14 16:45] garno opened #127 "Support de certains éléments Markdown"

[2014-02-05 14:43] aturgeon opened #129 "Bug dans l'affichage de la deuxième page des news récentes"
On ne voit que le résultat de la requête, et non du html avec ce résultat dedans.

[2014-02-14 03:09] garno opened #130 "Permettre à un membre d'ajouter son Twitter username"
Éventuellement, on veut lister les talks qu'à fait un membre durant l'OpenCode dans son profil OCN. Comme, dans la base de données de l'OpenCode, les conférenciers sont associés à leur username Twitter, nous ne pouvons pas nous fier au username GitHub.

[2014-02-14 03:09] garno opened #131 "Afficher la liste des talks à l'OpenCode d'un membre"
L'endpoint sur opencode.ca est maintenant disponible.

i.e.

[code]

Il faudrait closer l'issue suivante avant par contre :) https://github.com/opencodeqc/ocn/issues/130

[2014-03-22 14:47] garno opened #132 "Ajouter des notifications par courriel"

[2014-03-22 15:08] #112 closed, assigned to nobody

[2014-03-22 15:15] garno commented on #129
Je n'arrive pas à reproduire le problème. Je vais _closer_ pour le moment et si jamais ça se reproduit et que tu as un peu plus de détails, n'hésite pas à réouvrir.

[2014-03-22 15:15] #129 closed, assigned to nobody

[2014-03-22 17:30] garno commented on #131
Ref #135

[2014-03-22 17:30] #131 closed, assigned to nobody

[2014-03-22 17:30] garno commented on #108
Ref #135

[2014-03-22 17:30] #108 closed, assigned to nobody